---
layout: default
title: Home
---
{% include featured.html %}

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <span><img class="gs-post-icon" src="/images/icons/document.svg"></span>
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.summary }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">← Previous</a>
  {% else %}
    <!-- <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">← Previous</a> -->
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Next →</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Next →</a>
    {% endif %}
  {% else %}
    <!-- <a class="pagination-item newer" href="{{ site.baseurl }}">Next →</a> -->
  {% endif %}
</div>
